{%extends 'base.html'%}
{% load staticfiles %}

{% block content %}
<style>
  .card {
    height: 200px;
  }
  #user-img1 {
    margin: 5px 0 0 15px;
  }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/introduce.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div id="my-container" style="padding:30px;">
  <div style="margin:0 auto">
    <h3>학과별 주점소개</h3> ※ 학과인증: 학과로부터 제공받은 자료 포함
    <br>※ 무작위로 보여집니다.
    <br>
    <div class="row" style="margin-bottom: 30px;">
      {% for intro in all_intro %}
      <div class="col-lg-3 col-6" style="margin-bottom: 30px;" id="col">
        <a href="{% url 'intro_detail' intro.id %}">
          <div class="card" id="card">
            <img class="card-img-top h-img" src="{{ intro.img1.url }}" id="intro-card-img">
            <div class="row">
              <div class="col-4 col-lg-2">
                <img id="user-img1" src="{{ intro.de_logo.url }}">
              </div>
              <div class="col-8 col-lg-10" style="margin-top:4px;">
                <span id="intro-card-title">{{ intro.summary_dename }}</span>
                <br>
                <div class="tag">
                  {{ intro.hits }} views
                </div>
                <div class="tag">
                  {{ intro.summary_tag }}
                </div>
              </div>
            </div>
            <hr>
            <div id="intro-body">
              <div class="heart-icon">
                  <i class="fa fa-heart" style="color:#ed2553;">{{ intro.intro_like_users.count }}</i>
                </div>
            </div>
          </div>
        </a>
          </div>
      {%endfor%}
      </div>
    </div>
</div>
{% endblock %}