<!--회원가입입니다-->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
<script type="text/javascript" src="{% static 'js/loginvalidate.js' %}"></script>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="card-body" id="login-box">
        <div class="container">
          <h1 style="justify-content: center; display: flex;">회원가입</h1>
          <!--로고는 추후 변경 또는 텍스트로 대체-->
        </div>
        <br>
        <!--가입폼은 기본으로 해뒀습니다 소셜로그인하시면 변경할게요-->
        <form method="POST" action="{% url 'signup'%}" class="user" id="user" accept-charset="UTF-8" onsubmit="validateForm_signup()">
          {% csrf_token %}
          <div class="form">
            <label class="control-label" for="email">아이디</label><br />
            <input name="username" autofocus="autofocus" class="form-control" type="text" id="email" />
          </div>
          <br>
          <div class="form">
            <label class="control-label" for="password">비밀번호</label><br />
            <input name="password1" autocomplete="off" class="form-control" type="password" id="password1" />
          </div>
          <br>
          <div class="form">
            <label class="control-label" for="password">비밀번호 확인</label><br />
            <input name="password2" autocomplete="off" class="form-control" type="password" id="password2" />
          </div>
          <br>

          {% if messages %}
          <ul class="messages">
            <br><br>
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <br>
          <div class="btn-contatiner">
            <input type="submit" value="회원가입" class="btn btn-primary justify-content-center" style="display: flex" />
          </div>
        </form>
        <br>
        <div class="login-btn-container">
          <img class="login-img" src="{% static 'img/naver_btn.png' %}" />
          <img class="login-img" style="margin-left: 5px;" src="{% static 'img/kakao_btn.png' %}" />
          <img class="login-img" style="margin-left: 5px;" src="{% static 'img/google_btn.png' %}" />
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}