<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}

  <!--bootstrap 추가-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--firework-->
  <meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
  <!--CSS only-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/switch.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">



  <!--bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}">

  <!--animation cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <!-- pagePilling js   -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'dist/jquery.pagepiling.js' %}"></script>

  <!-- 카카오 채팅 -->
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

  <!--firework-->
  <link rel="shortcut icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/firework-burst-icon-v2.png">
  <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/firework-burst-icon-v2.png">
  <link rel="apple-touch-icon-precomposed" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/firework-burst-icon-v2.png">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/firework-burst-icon-v2.png">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/fscreen%401.0.1.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/Stage%400.1.4.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/MyMath.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/firework.css' %}">
  <!--이미지로드해와야해서 js파일로 옮기면 이미지가 안떠요-->
  <script>
    //로드될때 a값을 확인해서 실행
    window.onload = function () {
      var a = sessionStorage.getItem('a');
      a *= 1;
      //var background = document.getElementById("switch").style.backgroundColor;
      if (a == 1) { //검은배경
        document.getElementById("menu").src = "{% static 'img/menu5.png'%}";    //메뉴 변경
        document.getElementById("logo-icon").src = "{% static 'img/kputube1.png' %}"; //로고 변경하기
        document.getElementById("on").style.color = "#2F2F2F";
        document.getElementById("marble").style.backgroundColor = "#2F2F2F";
        document.getElementById("switch1").checked = "checked";
        document.getElementById("switch").style.backgroundColor = '#2F2F2F';  //배경색 변경 
      } else {
        document.getElementById("menu").src = "{% static 'img/menu6.png'%}";    //메뉴 변경
        document.getElementById("logo-icon").src = "{% static 'img/kputube2.png' %}"; //로고 변경하기
        document.getElementById("on").style.color = "#FFFFFF";
        document.getElementById("marble").style.backgroundColor = "#FFFFFF";
        document.getElementById("switch").style.backgroundColor = '#FFFFFF';  //배경색 변경   
      }
    }
    function javascript() {
      var a = sessionStorage.getItem('a');
      a *= 1;
      //var background = document.getElementById("switch").style.backgroundColor;
      if (a == 0) { //흰배경에서 검은 배경으로
        document.getElementById("menu").src = "{% static 'img/menu5.png'%}";    //메뉴 변경
        document.getElementById("logo-icon").src = "{% static 'img/kputube1.png' %}"; //로고 변경하기
        document.getElementById("on").style.color = "#2F2F2F";
        document.getElementById("marble").style.backgroundColor = "#2F2F2F";
        document.getElementById("switch").style.backgroundColor = '#2F2F2F';  //배경색 변경 
        a = 1;
        sessionStorage.setItem('a', "1");
      } else {
        document.getElementById("menu").src = "{% static 'img/menu6.png'%}";    //메뉴 변경
        document.getElementById("logo-icon").src = "{% static 'img/kputube2.png' %}"; //로고 변경하기
        document.getElementById("on").style.color = "#FFFFFF";
        document.getElementById("marble").style.backgroundColor = "#FFFFFF";
        document.getElementById("switch").style.backgroundColor = '#FFFFFF';  //배경색 변경   
        a = 0;
        sessionStorage.setItem('a', "0");
      }
    }
  </script>

</head>

<body name='switch' id='switch'>
<!--firework-->
  	<!-- SVG Spritesheet -->
<div style="height: 0; width: 0; position: absolute; visibility: hidden;">
		<svg xmlns="http://www.w3.org/2000/svg">
			<symbol id="icon-play" viewBox="0 0 24 24">
				<path d="M8 5v14l11-7z"/>
			</symbol>
			<symbol id="icon-pause" viewBox="0 0 24 24">
				<path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
			</symbol>
			<symbol id="icon-close" viewBox="0 0 24 24">
				<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
			</symbol>
			<symbol id="icon-settings" viewBox="0 0 24 24">
				<path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
			</symbol>
			<symbol id="icon-sound-on" viewBox="0 0 24 24">
				<path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
			</symbol>
			<symbol id="icon-sound-off" viewBox="0 0 24 24">
				<path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"/>
			</symbol>
		</svg>
	</div>
	
	<!-- App -->
	<div>
		<div class="loading-init">
			<div class="loading-init__header"></div>
			<div class="loading-init__status"></div>
		</div>
		<div class="stage-container remove">
			<div class="canvas-container">
        <canvas id="trails-canvas"></canvas>
        <canvas id="main-canvas"></canvas>
        <!--nav-->
        <div id="myNav" class="overlay" style="z-index:100;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content" style="z-index:11;">
              <a href="{% url 'introduce' %}">주점소개</a>
              <a href="{% url 'promote' %}">행사소개</a>
              <a href="{% url 'siru' %}">시흥화폐 시루 소개</a>
              <div class="board">
                <a href="{% url 'board' %}">게시판</a>
                <!--분실물페이지 링크로 걸어주세요-->
                <a href="{% url 'missing' %}">분실물</a>
              </div>
              <a href="{% url 'developer'%}">개발자소개</a>
              {% if user.is_authenticated %}
              <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
              <form id="logout" method="POST" action="{% url 'logout' %}">
                {% csrf_token %} <input type="hidden" />
              </form>
              {% else %}
              <a href="{% url 'login' %}">로그인</a>
              {% endif %}
            </div>
          </div>
          <!--  style="position: absolute; z-index: 1000; width:100%;" -->
          <!--/.Navbar-->
          <div class="row" style="margin:0;">
            <div class="col-3 col-lg-2 left">
              <div id="forabsolute">
                <div class="menu-container" onclick="openNav()">
                  <img id="menu" src="{% static 'img/menu6.png' %}">
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-8 center">
              <!--<span id="menu" onclick="openNav()">&#9776; </span>-->
              <a href="{% url 'home' %}">
                <div class="animated flash delay-2s duration-0.5s slower">
                  <div class="neon">
                    <img id="logo-icon" src="{% static 'img/kputube2.png' %}">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-3 col-lg-2 right">
              <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
              <label for="switch1" onclick="javascript()" class="label__on-off">
                <span id="marble" class="marble"></span>
                <span id="on" class="on">on</span>
                <span class="off">off</span>
              </label>
            </div>
          </div>
          <!--nav-->
          <!--content-->

          {% block content %}

          {% endblock %}
          <!--content-->
			</div>
			<div class="controls" style="display:none;">
				<div class="btn pause-btn">
					<svg fill="white" width="24" height="24"><use href="#icon-pause" xlink:href="#icon-pause"></use></svg>
				</div>
				<div class="btn sound-btn">
					<svg fill="white" width="24" height="24"><use href="#icon-sound-off" xlink:href="#icon-sound-off"></use></svg>
				</div>
				<div class="btn settings-btn">
					<svg fill="white" width="24" height="24"><use href="#icon-settings" xlink:href="#icon-settings"></use></svg>
				</div>
			</div>
			<div class="menu hide">
				<div class="menu__inner-wrap">
					<div class="btn btn--bright close-menu-btn">
						<svg fill="white" width="24" height="24"><use href="#icon-close" xlink:href="#icon-close"></use></svg>
					</div>
					<div class="menu__header">Settings</div>
					<div class="menu__subheader">For more info, click any label.</div>
					<form>
						<div class="form-option form-option--select">
							<label class="shell-type-label">Shell Type</label>
							<select class="shell-type"></select>
						</div>
						<div class="form-option form-option--select">
							<label class="shell-size-label">Shell Size</label>
							<select class="shell-size"></select>
						</div>
						<div class="form-option form-option--select">
							<label class="quality-ui-label">Quality</label>
							<select class="quality-ui"></select>
						</div>
						<div class="form-option form-option--select">
							<label class="sky-lighting-label">Sky Lighting</label>
							<select class="sky-lighting"></select>
						</div>
						<div class="form-option form-option--select">
							<label class="scaleFactor-label">Scale</label>
							<select class="scaleFactor"></select>
						</div>
						<div class="form-option form-option--checkbox">
							<label class="auto-launch-label">Auto Fire</label>
							<input class="auto-launch" type="checkbox" />
						</div>
						<div class="form-option form-option--checkbox form-option--finale-mode">
							<label class="finale-mode-label">Finale Mode</label>
							<input class="finale-mode" type="checkbox" />
						</div>
						<div class="form-option form-option--checkbox">
							<label class="hide-controls-label">Hide Controls</label>
							<input class="hide-controls" type="checkbox" />
						</div>
						<div class="form-option form-option--checkbox form-option--fullscreen">
							<label class="fullscreen-label">Fullscreen</label>
							<input class="fullscreen" type="checkbox" />
						</div>
						<div class="form-option form-option--checkbox">
							<label class="long-exposure-label">Open Shutter</label>
							<input class="long-exposure" type="checkbox" />
						</div>
					</form>
					<div class="credits">
						Passionately built by <a href="https://cmiller.tech/" target="_blank">Caleb Miller</a>.
					</div>
				</div>
			</div>
		</div>
		<div class="help-modal">
			<div class="help-modal__overlay"></div>
			<div class="help-modal__dialog">
				<div class="help-modal__header"></div>
				<div class="help-modal__body"></div>
				<button type="button" class="help-modal__close-btn">Close</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="{% static 'js/firework.js' %}"></script>
<!--firework-->
  <!-- 특정 URL에만 css 적용시킬려고 만든 자바스크립트 -->
  <!-- <script>
 if ( window.location.pathname == '/' ) 
 { 
   document.write( '<style>@media(min-width:580px){#forabsolute{position: absolute;width:100%;background-color: rgba( 0, 0, 0, 0.4 );z-index: 100;}}</style>' ); 
 } 
</script>  -->


  <!-- 페이지필링 자바스크립트 -->
  <script>
    $(document).ready(function () {
			/*
			* Plugin intialization
			*/
      $('#pagepiling').pagepiling({
        menu: '#menu',
        anchors: ['page1', 'page2', 'page3', 'page4'],
        sectionsColor: ['white', '#ee005a', '#2C3E50', '#39C'],
        navigation: {
          'position': 'right',
          'tooltips': ['Page 1', 'Page 2', 'Page 3', 'Page 4']
        },
        afterRender: function () {
          $('#pp-nav').addClass('custom');

        },
        onLeave: function (index, nextIndex, direction) {
          if (nextIndex == 1) {

            $("#menu").addClass("sticky");
          } else {
            $("#menu").removeClass("sticky");
          }

        },
        afterLoad: function (anchorLink, index) {
          if (index > 1) {
            $('#pp-nav').removeClass('custom');
          } else {
            $('#pp-nav').addClass('custom');
          }
        }
      });
			/*
		    * Internal use of the demo website
		    */
      $('#showExamples').click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        $('#examplesList').toggle();
      });
      $('html').click(function () {
        $('#examplesList').hide();
      });
      // if($('#pagepiling .section:first-child').hasClass('active')) {
      // 	$("#menu").addClass("sticky");
      // }
    });
    $(window).scroll(function () {

      if ($('#pagepiling .section:first-child').hasClass('active')) {
        $("#menu").addClass("sticky");
      }
    });
  </script>

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>

  <div>
    <div style="position:fixed; right:10px; bottom:0px; z-index: 5;" id="plusfriend-chat-button"></div>
  </div>
  <div>
    <div style="position:fixed; right:10px; bottom:50px;">
      <a href="javascript:scroll(0,0)">
        <img src="{% static 'img/Top.png' %}" width="50px" ; height="50px" alt="Top" id="topbutton">
      </a>
    </div>
  </div>
  <!--footer-->
  <footer id="footer" class="footer mt-auto py-3">
    <div class="row">
      <div class="col-6 col-lg-6">
        <h3 class="title_l">KPUTube</h3>
        <div class="left-container">
          <div class="row" id="row-container">
            <h4 class="title_m">날짜</h4>
            <span class="content">2019.09.25(수)-27(금)</span>
          </div>
          <div class="row" id="row-container">
            <h4 class="title_m">장소</h4>
            <span class="content">경기도 시흥시 산기대학로 237</span>
          </div>
        </div>
        <div class="row">
          <div class="col-1 col-lg-1">
            <img src="{% static 'img/logo.png' %}" alt="logo" class="my-logo">
          </div>
          <div class="col-10 col-lg-11">
            <img id="icon2" src="{% static 'img/kpuXlikelion.png' %}">
            <h5 class="content">Copyright © 산기대멋쟁이사자처럼7기.All right reserved</h5>
          </div>
        </div>
      </div>
      <!--오른쪽-->
      <div class="col-6 col-lg-6">
        <h3 class="title_l">DEVELOPER</h3>
        <div class="right-container">
          <div class="row mobile" id="row-container" >
            <div class="col-4 col-lg-6">
              <div class="row small-row" >
                <h4 class="title_m">김연준</h4>
                <span class="content">컴퓨터공학과</span>
              </div>
              <div class="row small-row">
                <h4 class="title_m">고주원</h4>
                <span class="content">IT경영학과</span>
              </div>
            </div>
            <div class="col-4 col-lg-6" id="small-row">
              <div class="row small-row">
                <h4 class="title_m">이세민</h4>
                <span class="content">컴퓨터공학과</span>
              </div>
              <div class="row small-row">
                <h4 class="title_m">양소영</h4>
                <span class="content">컴퓨터공학과</span>
              </div>
            </div>

          </div>
        </div>
        <div class="row bottom" style="padding-left:15px; margin-top:8px;">
          <h3 class="title_l">협력</h3>
          <img src="{% static 'img/wehigher.png' %}" alt="logo" class="my-logo2">
          <h4 class="content" style="margin-top:8px; margin-left:10px;">총학생회 '위하여'</h4>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{% static 'js/kakao.js' %}"></script>


</body>

</html>