<!--게시판 디테일페이지입니다-->
{% extends 'base.html' %}
{% block content %}
<style>

</style>

<div class="container-fluid" style="margin-top:150px;"> 
   <div class="row">
      <div class="col-0 col-lg-2"></div>
        <div class="col-12 col-lg-8"><br>
            <button name="button" type="submit" class="btn btn-light">목록으로</button>
            <div class="card" style="margin-top:10px;">
              <div class="card-body" style=" padding-bottom:8px;padding-top:8px;">
                <!--제목-->
                <h4>
                <strong>제목:</strong>
                사랑을 찾습니다..
                </h4>
                <span>바보</span>
                <span>3 months</span>
              </div>
            <div class="card-body" style="border-top:1px solid #989898">
                <!--내용-->
                <h5>
                <strong>내용:</strong>
                축제페이지이이
                </h5>
                </div>
            </div>
        <br>
        <!--댓글 갯수-->
            <p><span>5</span> 개의 댓글</p>
          </div>         
        <div class="col-0 col-lg-2"></div>
      </div> 
    </div> 
      <div class="container">
        <form/>
          <div class="form-group">
            <textarea class="form-control">
            </textarea>
          <br>
          <div class="input-field center-btn">
          <button name="button" type="submit" class="btn btn-light">댓글달기</button>
          </div>
          </div>
          <hr>                                                    
  </form>                                    
</div> 
  
{% endblock %}