<!--학과,동아리별 주점소개페이지입니다-->
{%extends 'base.html'%}
<style>

</style>
{% block content %}
<div class="container" style="margin-top:12%; margin-bottom: 12%">
  <h3>학과별 주점소개</h3>
  <br>
  <div class="row">
  <!--이부분부터 추가 for문으로 넣으시면 됩니다-->
  <div class = "col-sm-12 col-md-6 col-xl-3">
    <div class="card h-card">
      <div class="h-img-wrapper">
        <img class="card-img-top h-img" src="/static/example.jpg">
        <!--음식 이미지-->
      </div>
      <div class="card-body h-card-body">
        <h5 class="h-card-title">학과명</h5>
        <a href="#"><p class="h-card-text">위치(지도 더보기로)</p></a>
        <!--위치나 이미지 클릭하면 지도로 위치알려주기-->
        <p class="h-card-text">소개글</p>
      </div>
    </div>
  </div>
  <!--여기까지-->
  <br><br>
  </div>
</div>
{% endblock %}