<!--베이스입니다-->
{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

<body>
 <div class="wrapper">
  <div class="container">
   <div class="card-body">
    <div class="container">
      <img class="img" src="{% static 'img/logo.png' %}" />
      <!--로고는 추후 변경 또는 텍스트로 대체-->
    </div>      
    <br><!--가입폼은 기본으로 해뒀습니다 소셜로그인하시면 변경할게요-->
      <form class="user" id="user" action="#" accept-charset="UTF-8" method="post">
      <div class="form">
        <label class="control-label" for="email">이메일</label><br />
        <input autofocus="autofocus" class="form-control" type="email" id="email" />
      </div>
      <br>
      <div class="form">
        <label class="control-label" for="password">비밀번호</label><br />
        <input autocomplete="off" class="form-control" type="password" id="password" />
      </div>
      <br>
      <div class="form">
        <input name="remember" type="hidden" value="0" />
        <input type="checkbox" value="1" name="remember" id="user_remember" />
        <label for="user_remember">저장하기</label>
      </div>
      <div class="btn-contatiner">
        <input type="submit" value="로그인" class="btn btn-primary justify-content-center" style="display: flex" />
      </div>
      </form>
      <p class="sign_up_p">아직 회원이 아니라면? <a class="sign_up_link" href="{% url 'signup' %}">회원가입</a></p>

      <div class="login-btn-container" >
        <img class="login-img" src="{% static 'img/naver_btn.png' %}" />
        <img class="login-img" style="margin-left: 5px;"src="{% static 'img/kakao_btn.png' %}" />
        <img class="login-img" style="width: 80px;" src="{% static 'img/google_btn.png' %}" />
      </div>  
      <!--signup으로 링크걸어주세요-->
      </div>
    </div>
  </div>
</body>
{%endblock%}