{% load staticfiles %}
<!--nav-->
<div id="myNav" class="overlay" style="z-index:100;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content" style="z-index:11;">
    <a href="{% url 'introduce' %}">주점소개</a>
    <a href="{% url 'promote' %}">행사소개</a>
    <a href="{% url 'siru' %}">시흥화폐 시루 소개</a>
    <div class="board">
      <a href="{% url 'board' %}">게시판</a>
      <!--분실물페이지 링크로 걸어주세요-->
      <a href="{% url 'missing' %}">분실물</a>
    </div>
    <a href="{% url 'developer'%}">개발자소개</a>
    {% if user.is_authenticated %}
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
      {% csrf_token %} <input type="hidden" />
    </form>
    {% else %}
    <a href="{% url 'login' %}">로그인</a>
    {% endif %}
  </div>
</div>
<!--  style="position: absolute; z-index: 1000; width:100%;" -->
<!--/.Navbar-->
<div class="row" style="margin:0;">
  <div class="col-3 col-lg-2 left">
    <div id="forabsolute">
      <div class="menu-container" onclick="openNav()">
        <img id="menu" src="{% static 'img/menu6.png' %}">
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-8 center">
    <!--<span id="menu" onclick="openNav()">&#9776; </span>-->
    <a href="{% url 'home' %}">
      <div class="animated flash delay-2s duration-0.5s slower">
        <div class="neon">
          <img id="logo-icon" src="{% static 'img/kputube2.png' %}">
        </div>
      </div>
    </a>
  </div>
  <div class="col-3 col-lg-2 right">
    <input type="checkbox" id="switch1" name="switch1" class="input__on-off">
    <label for="switch1" onclick="javascript()" class="label__on-off">
      <span id="marble" class="marble"></span>
      <span id="on" class="on">on</span>
      <span class="off">off</span>
    </label>
  </div>
</div>