<!--회원가입입니다-->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style>

</style>
<body>
 <div class="wrapper">
  <div class="container">
   <div class="card-body">
    <div class="container">
      <img class="img" src="{% static 'img/logo.png' %}" />
      <!--로고는 추후 변경 또는 텍스트로 대체-->
    </div>      
    <br><!--가입폼은 기본으로 해뒀습니다 소셜로그인하시면 변경할게요-->
      <form class="user" id="user" action="#" accept-charset="UTF-8" method="post">
      <div class="form">
        <label class="control-label" for="email">이메일</label><br />
        <input autofocus="autofocus" class="form-control" type="email" id="email" />
      </div>
      <br>
      <div class="form">
        <label class="control-label" for="password">비밀번호</label><br />
        <input autocomplete="off" class="form-control" type="password" id="password1" />
      </div>
      <br>
      <div class="form">
            <label class="control-label" for="password">비밀번호 확인</label><br />
            <input autocomplete="off" class="form-control" type="password" id="password2" />
      </div>
      <br>
      <br>
      <div class="btn-contatiner">
        <input type="submit" value="회원가입" class="btn btn-primary justify-content-center" style="display: flex" />
      </div>
      </form><br>
      <div class="login-btn-container" >
        <img class="login-img" src="{% static 'img/naver_btn.png' %}" />
        <img class="login-img" style="margin-left: 5px;"src="{% static 'img/kakao_btn.png' %}" />
        <img class="login-img" style="width: 80px;" src="{% static 'img/google_btn.png' %}" />
      </div>  
    </div>
    </div>
  </div>
</body>
{% endblock %}