absl-py==0.7.1
astor==0.8.0
astroid==2.2.5
awsebcli==3.15.3
botocore==1.12.223
cement==2.8.2
certifi==2019.6.16
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
dj-database-url==0.5.0
Django==2.2.3
django-appconf==1.0.3
django-imagekit==4.0.2
docutils==0.15.2
future==0.16.0
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
idna==2.7
isort==4.3.21
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
Markdown==3.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.17.0
opencv-python==4.1.0.25
pathspec==0.5.9
pilkit==2.0
Pillow==6.0.0
protobuf==3.9.1
psycopg2==2.8.3
psycopg2-binary==2.8.3
pylint==2.3.1
pyparsing==2.4.2
pypiwin32==223
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
PyYAML==3.13
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
typed-ast==1.4.0
urllib3==1.24.3
virtualenv==16.7.5
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.11.2
