<!--학과,동아리별 주점소개페이지입니다-->
{%extends 'base.html'%}
<style>

</style>
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">

<div class="container" style="margin-top:12%;">
  <h2>개발자 소개</h2>
  <br>
  <div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-6">
    <div class="card">
        <!-- 사진크기 똑같게하려고 스타일 태그 썻어용 ㅠ --><!--수정했습니당-->
        <img id="dev-img" class="card-img-top h-img" src="{%static 'img/yeonjun.jpg'%}">
        <br>
        <div class="intro_content">
        <h3>김연준</h3>
        <h5>컴퓨터공학과</h5>
        <h5>백엔드 개발자</h5>
        </div>
    </div>
   </div>
   <div class="col-lg-3 col-sm-6 col-xs-6">
    <div class="card">
        <img id="dev-img" class="card-img-top h-img" src="{%static 'img/user.png'%}">
        <br>
        <div class="intro_content">
        <h3>고주원</h3>
        <h5>IT경영학과</h5>
        <h5>프론트엔드 개발자</h5>
        </div>
    </div>
   </div>  
   <div class="col-lg-3 col-sm-6 col-xs-6">
    <div class="card">
        <img id="dev-img" class="card-img-top h-img" src="{%static 'img/samin.jpg'%}">
        <br>
        <div class="intro_content">
        <h3>이세민</h3>
        <h5>컴퓨터공학과</h5>
        <h5>백엔드 개발자</h5>
        </div>
    </div>
   </div>        
   <div class="col-lg-3 col-sm-6 col-xs-6"div class = "col-sm">
    <div class="card">
        <img id="dev-img" class="card-img-top h-img" src="{%static 'img/soyoung.jpg'%}">
        <br>
        <div class="intro_content">
        <h3>양소영</h3>
        <h5>컴퓨터공학과</h5>
        <h5>프론트엔드 개발자</h5>
        </div>
    </div>
   </div>        
  </div>
  <br><br>
  <h2>멋쟁이 사자처럼 소개</h2>
</div>
{% endblock %}