{% extends 'base.html' %}
{% block content %}
{%load staticfiles%}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">


<div id="my-container">
    <h1 align="center" id="promote_lan" style="text-align:center;">
        이미지를 누르면 자세한 설명이 나옵니다!!
    </h1>
    <h2 align="center" id="promote_lan" style="text-align:center;">
        AdBlock 사용시 이미지가 안보일 수 있습니다.
    </h2>
    <h5 align="center" id="promote_lan2" style="text-align:center;">
        이미지를 누르면 자세한 설명이 나옵니다!!
    </h5>
    <h5 align="center" id="promote_lan2" style="text-align:center;">
        AdBlock 사용시 이미지가 안보일 수 있습니다.
    </h5>
    <br>
    <!-- <div class="card">
         <div id="youtube">
            <iframe style="text-align: center;" id="youtube_video" src="https://www.youtube.com/embed/NjQU_l4p8dU"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div> 
    </div> -->
    <div class="row">
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal1"
                style="">
                <img src="{%static 'img/ad1.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal2"
                style="">
                <img src="{%static 'img/ad2.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal3"
                style="">
                <img src="{%static 'img/ad3.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal4"
                style="">
                <img src="{%static 'img/ad4.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal5"
                style="">
                <img src="{%static 'img/ad5.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal6"
                style="">
                <img src="{%static 'img/ad6.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal7"
                style="">
                <img src="{%static 'img/ad7.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal8"
                style="">
                <img src="{%static 'img/ad8.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
        <div class="col-sm-4">
            <button id="probutton" type="button" class="probutton" data-toggle="modal" data-target="#exampleModal9"
                style="">
                <img src="{%static 'img/ad9.png'%}" aria-hidden="true" style="width:100%; margin-bottom: 30px;">
            </button>
        </div>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal 1번모달 -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad01.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2번모달 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad02.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3번모달 -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad03.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4번모달 -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad04.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5번모달 -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad05.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6번모달 -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad06.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 7번모달 -->
    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad07.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 8번모달 -->
    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad08.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 8번모달 -->
    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{%static 'img/ad09.png'%}" aria-hidden="true" style="width:100%;">
                </div>
            </div>
        </div>
    </div>

    {% if random_button == 2 %}
    <div style="position:fixed; right:{{ random_width }}%; bottom:{{ random_height }}%; z-index: 10;">
        <img src="{% static 'img/random.png'%}" width="150px">
    </div>
    {% endif %}

</div>

{% endblock %}