<!--학과,동아리별 주점소개페이지입니다-->
{% extends 'base.html' %}
{% block content %}
{%load staticfiles%}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">


<div id="my-container">
  <h2></h2>
  <br>
  <div class="row">
    <div class="col-lg-12 col-12">
        <h1 align="center" style="text-align:center;">
        총학에서 이번 축제에 시루쓴다고 소개하는 이미지
        </h1>
        <br><br>
        <div class="card">
            <p align="center" style="text-align:center;">
                <a href="https://play.google.com/store/apps/details?id=com.komscochak.m.client" rel="nofollow">
                    안드로이드 링크 버튼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <a href="https://itunes.apple.com/kr/app/%EC%A7%80%EC%97%AD%EC%83%81%ED%92%88%EA%B6%8C-chak/id1447922056?mt=8" rel="nofollow">
                    아이폰 링크 버튼
                </a>
            </p>
            <br><br><br>
            <div class="siru_imageset">
                <img class="siru_image" title="53e73502dfdc2b6d50b8b223fb16e5d6_1550627792_8286.jpg" src="https://www.si-ru.kr/data/editor/1902/53e73502dfdc2b6d50b8b223fb16e5d6_1550627792_8286.jpg" alt="53e73502dfdc2b6d50b8b223fb16e5d6_1550627792_8286.jpg" style="" width="795">
                <img class="siru_image" title="53e73502dfdc2b6d50b8b223fb16e5d6_1550627796_2778.jpg" src="https://www.si-ru.kr/data/editor/1902/53e73502dfdc2b6d50b8b223fb16e5d6_1550627796_2778.jpg" alt="53e73502dfdc2b6d50b8b223fb16e5d6_1550627796_2778.jpg" style="" width="795">
            </div>
            <br>
            <div align="center" style="text-align:center;">
                <span style="font-size:14pt;background-color:rgb(255,239,0);">
                    <b>
                        문의 : 시흥시청 소상공인과 031)310-3545, 3546, 3547, 3548
                    </b>
                </span>&nbsp;
            </div>
        </div>
    </div>
</div>
  <br><br>
  
    <!--좋아요 버튼-->
    <div class="row">
        <div class="col-lg-4 col-12">
            
                    추가할 이미지??
                
             
        </div>
      
    </div>
    <br>
    <br>
</div>


{% endblock %}