/*로그인,회원가입*/
/*카드*/
.card-body{
    padding: 2.3rem;
}
#login-box{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
/*폼태그*/
.form-control:focus{
  border-color: #989898;
  color: #000000;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #989898;
}       

/*버튼*/
.btn-primary{
    background-color:#323232;
    border: 1px solid #323232;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary:hover {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
}

/*소셜로그인 container*/
.login-btn-container{
    justify-content:center; display:flex;
}
/*소셜로그인 버튼*/
.login-img{
  width: 69px;
  height: 69px;
}

/*웹*/ 
@media (min-width: 1025px)  {
    .img{
        width: 200px;   
        margin-left:25%;
        margin-right: 25%; 
    }   
    .wrapper{
        margin-left: 30%;
        margin-right: 30%;
    }
}

/*모바일*/
@media (max-width: 1025px)  {
    .img{
        width: 200px;
        margin-left: 30%;   
        margin-right: 30%;
    }
    .wrapper{
        margin-left: 5%;
        margin-right: 5%;
        height: 1200px;
    }
}

