/*missing 웹 */
@media(min-width:1025px){
    .card_title{
        font-family: Roboto, Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color : rgb(12,12,12) !important;
        line-height: 1.6rem;
    }
    .card_author{
        font-family: Roboto, Arial, sans-serif;
        font-size: 0.8rem;
        color: #606060;
    }

    .shadow_card{
        box-shadow: 1px 1px 10px grey;
        background-color: #fff;
        background-clip: border-box;
        border-radius: .25rem;
    }
    .missing_card_img{
        object-fit: cover;
        width:100%;
        height: 150px;
    }
    .missing_textarea{
        margin: 1rem 0;
    }
}

/*missing 모바일*/
@media (max-width: 1025px)  {
    .card_title{
        text-align: center;
        font-family: Roboto, Arial, sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
        color : rgb(12,12,12) !important;
        line-height: 1.6rem;
    }
    #siru_main
    {
        height: 130px;
    }
    .card_author{
        font-family: Roboto, Arial, sans-serif;
        font-size: 0.6rem;
        color: #606060;
    }

    .shadow_card{
        box-shadow: 1px 1px 10px grey;
        background-color: #fff;
        background-clip: border-box;
        border-radius: .25rem;
    }
    .missing_card_img{
        object-fit: cover;
        width:100%;
        height: 100px;
    }
    .missing_center {
        text-align: center;
    }
}

/*board*/

.probutton {
    text-decoration:none;
    border: 0px;
    outline:none;
    background-color: white;
    padding: 0px;
}
.probutton:hover {
    text-decoration:none;
    border: 0px;
    outline:none;
}
.probutton:active {
    text-decoration:none;
    border: 0px;
    outline:none;
}
button:focus {outline:0;}

.siru_image {
    width:85%;
}
.siru_imageset {

    text-align: center;
}
.zoom a:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
  }


#comment-box{
    font-family: Arial, sans-serif;
    margin-left: 10em;
  }
  #comment-box p{
    margin:0;
  }
  #context-box{
    margin-left: 10em;
    font-size:25px;
  }
  #context-box p{
    margin:0;
    font-size:20px;
  }
  #context-box span{
    font-size: 20px;
  }
  .right-icon{
    float: right;
    width: 2.2rem;
    margin-right: 0.4rem;
  }
  .btn{
    color: white;
    background-color: red;
  }
  #td-center{
      text-align: center;
  }

/*intro,developer*/
#my-container{
    background-color: white;
    border-radius: 8px;
    padding:30px;
    margin:4rem;
  }
  /*모바일*/
@media (max-width: 1025px)  {
  #my-container{
    margin:1rem;
  }
  .siru_image{
    width:100%;
  }
  #dev-container{
    margin:30px;
  }

}
.card{
    width: 120;
    border: 0;
    width: 100%;
}
.intro_content{
    margin:10px;
    text-align: center;
}

#intro-body{
    padding:10px;
}
#intro-card-title{
    font-size: 2.5rem;
}

#intro-card-like{
    font-size: 1.25rem;
}

#intro-card-content{
    font-size: 1.25rem;
}
#intro-card-img{
    height: 220px;
  }
/*모바일*/
@media (max-width: 1025px)  {
    #intro-card-title{
        font-size: 1.5rem;
    }
    
    #intro-card-like{
        font-size: 0.8rem;
    }
    
    #intro-card-content{
        font-size: 1rem;
    }
}



/*카드 바디*/
.h-card-text{
    color: #606060;
    margin:0;
}


/*intro detail 페이지*/
/*웹*/

#carouselExampleControls{
    margin-bottom: 15px;
}
.detail-title{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
}
.detail-text{
    font-size: 0.9rem;
    color:#606060;
}
#tag{
    font-size: 1.5rem;
    color: #065FD4;
}
#contain-right{
    float:right;
}

#icon_btn{
    width: 40;
}
#detail-img{
    height: 400px;
    width: 800px;
}
#user-img{
    width:5rem;
    height:5rem;
}
#sub_button{
    float: right;
}
  
.content-box{
    margin-top:20;
}

/*글자색 흰색*/
#white{
    color:white;
}

/*웹*/
@media(min-width:1025px){
    .dev-img{
        width:15rem !important;
        text-align: center;
        height:15rem !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #youtube{
      margin:auto;
      width:70%;
      height: 100%;
      text-align: center;
    }
    #youtube_video{
        width:70%;
        height: 450px;
    }
    .introimage
    {
        width:100px;
        text-align: center;
    }
    .introimage2{
        height: 400px;
        margin-bottom: 30px;
        
    }
    #mobivisible {
        display:none;
    }
    
}
/*모바일*/
@media (max-width: 1025px)  {
    #detail-text{
        font-size: 1rem;
    }
    #tag{
        font-size: 1rem;
    }
    #detail-img{
        height: 200px;
        width: 400px;
    }
    #sub_button{
        float : right;
    }
    .dev-img{
        width:13rem !important;
        text-align: center;
        height:13rem !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
    h3{
        font-size: 24px;
    }
    h5{
        font-size:14px;
    }
    #nav_siru
    {
        display: none;
    }
    #youtube{
        text-align: left;
        width:100%;
        height: 100%;
      }
      #youtube_video{
          height: 250px;
          width: 100%;
      }
    .sirumain{
        padding:0;
    }
    .col-6{
        padding: 0;
    }
  
    .mleft{
        margin-left:10%;
    }
    #pcvisible{
        display: none;
    }
    .introimage2{
        
        margin-bottom: 15px;
        
        
    }
}
