
/*board*/

.siru_image {
    width:85%;
}
.siru_imageset {

    text-align: center;
}
.zoom a:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
  }


#comment-box{
    font-family: Arial, sans-serif;
    margin-left: 10em;
  }
  #comment-box p{
    margin:0;
  }
  #context-box{
    margin-left: 10em;
    font-size:25px;
  }
  #context-box p{
    margin:0;
    font-size:20px;
  }
  #context-box span{
    font-size: 20px;
  }
  .right-icon{
    float: right;
    width: 2.2rem;
    margin-right: 0.4rem;
  }
  .btn{
    color: white;
    background-color: red;
  }
  #td-center{
      text-align: center;
  }

/*intro,developer*/
#my-container{
    background-color: white;
    border-radius: 8px;
    padding:30px;
    margin:4rem;
  }
  /*모바일*/
@media (max-width: 1025px)  {
  #my-container{
    margin:1rem;
  }
  .siru_image{
    width:100%;
  }

}
.card{
    width: 120;
    border: 0;
    width: 100%;
}
.intro_content{
    margin:10px;
    text-align: center;
}

#intro-body{
    padding:10px;
}
#intro-card-title{
    font-size: 2.5rem;
}

#intro-card-like{
    font-size: 1.25rem;
}

#intro-card-content{
    font-size: 1.25rem;
}
#intro-card-img{
    height: 220px;
  }
/*모바일*/
@media (max-width: 1025px)  {
    #intro-card-title{
        font-size: 1.5rem;
    }
    
    #intro-card-like{
        font-size: 0.8rem;
    }
    
    #intro-card-content{
        font-size: 1rem;
    }
}



/*카드 바디*/
.h-card-text{
    color: #606060;
    margin:0;
}


/*intro detail 페이지*/
/*웹*/

#carouselExampleControls{
    margin-bottom: 15px;
}
.detail-title{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
}
.detail-text{
    font-size: 0.9rem;
    color:#606060;
}
#tag{
    font-size: 1.5rem;
    color: #065FD4;
}
#contain-right{
    float:right;
}

#icon_btn{
    width: 40;
}
#detail-img{
    height: 600px;
    width: 1000px;
}
#user-img{
    width:5rem;
    height:5rem;
}
#sub_button{
    float: right;
}
  
.content-box{
    margin-top:20;
}

/*글자색 흰색*/
#white{
    color:white;
}

/*웹*/
@media(min-width:1025px){
    #dev-img{
        height: 200px;
        min-width: 200px;
        max-width: 200px;
        margin:30px;
    }
    #youtube{
      margin:auto;
      width:100%;
      height: 100%;
      text-align: center;
    }
    #youtube_video{
        width:100%;
        height: 450px;
    }
}
/*모바일*/
@media (max-width: 1025px)  {
    #detail-text{
        font-size: 1rem;
    }
    #tag{
        font-size: 1rem;
    }
    #detail-img{
        width: 500px; height:200px;
    }
    #sub_button{
        float : right;
    }
    #dev-img{
        height: 99px;
        min-width: 100px;
        max-width: 120px;
        min-height: 100px;
    }
    h3{
        font-size: 24px;
    }
    h5{
        font-size:14px;
    }
    #nav_siru
    {
        display: none;
    }
    #youtube{
        text-align: left;
        width:100%;
        height: 100%;
      }
      #youtube_video{
          height: 250px;
          width: 100%;
      }
    .sirumain{
        padding:0;
    }
}
