
/* 모바일에서 보여지는 부분입니당 */
@media(max-width: 800px)
{
    #pagepiling
    {
        display:none;
    }
    .festival
    {
        display:none;
    }
    .section
    {
        display:none;
    }
    #section
    {
        display:none;
    }
    #section2
    {
        display:none;
    }
    #section3
    {
        display:none;
    }
    #section4
    {
        display:none;
    }
    #section_mobile
    {
        margin-top: 0px;
        padding: 0px;
    }
    #main_img
    {
        width:70%;
        margin: 0px;
    }
    #mobi_container
    {
        margin-top:120px;
    }
    #icon
    {
        width:200px;
    }
    .line-up
    {
        background-image: url( '/static/img/Line-up.jpg' );
        background-size: 100%;
    }

}

/* pc에서 보여지는 부분입니당 */
@media(min-width: 800px)
{
    #section_mobile
    {
        display:none;
    }
    #icon
    {
        width:300px;
    }

}