
/* 모바일에서 보여지는 부분입니당 */
@media(max-width: 800px)
{
    #pagepiling
    {
        display:none;
    }
    .festival
    {
        display:none;
    }
    .section
    {
        display:none;
    }
    #section
    {
        display:none;
    }
    #section2
    {
        display:none;
    }
    #section3
    {
        display:none;
    }
    #section4
    {
        display:none;
    }
    #section_mobile
    {
        margin-top: 0px;
        padding: 0px;
    }
    #main_img
    {
        width:70%;
        margin: 0px;
    }
    #mobi_container
    {
        margin-top:10px;
    }
    #icon
    {
        width:12rem;
    }
    .line-up
    {
        background-image: url( '/static/img/Line-up.png' );
        background-size: 100%;
    }
    .main_info
    {
        background-image: url( '/static/img/main_info.png' );
        background-size: 100% 200px;
    }
    .line-up3
    {
        background-image: url( '/static/img/da-du.png' );
        background-size: 100%;
    }
    .line-up4
    {
        background-image: url( '/static/img/mamamoo.png' );
        background-size: 100%;
    }
    .line-up5
    {
        background-image: url( '/static/img/jannavi.png' );
        background-size: 100%;
    }
    body,html
    {
        overflow: auto !important;
    }

    #jb-content {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #bcbcbc;
    }
    .picture_size
    {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }
}

/* pc에서 보여지는 부분입니당 */
@media(min-width: 800px)
{
    #section_mobile
    {
        display:none;
    }
    .section
    {
       
    }
    #icon
    {
        width:12rem;
    }

}

/* 캐러셀 fade효과를 주기위한 css */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    widows: 100% !important;
    height: 50%;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  } 
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .item.next,
      .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.prev,
      .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.next.left,
      .carousel-fade .carousel-inner > .item.prev.right,
      .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
    } 
    .carousel-caption {
        text-shadow: 0 1px 4px rgba(0,0,0,.9);
        font-size:17px
    }
    .carousel-caption h3 {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
    }
      
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
    height: 100%;
    } 
    .item:nth-child(1) {
    background:url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/PU9HHZB5QW.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    }
    .item:nth-child(2) {
    background:url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/PU9HHZB5QW.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    }
    .item:nth-child(3) {
    background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/PU9HHZB5QW.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    }