
a:hover{
    text-decoration: none;
}
/*introduce 페이지*/
#my-container{
    padding:10px;
}
#card{
    height: 300px;
    border: 0;
    width: 100%;
    box-shadow: 1px 1px 10px gray;
}
#intro-card-img{
    height: 150px;
    width: 100%;
    margin-bottom:10px;
  }

#user-img1{
    height: 40px;
    width: 40px;
}
#intro-card-title{
    font-size: 1.5rem;
}
.icon{
    float:right;
    margin-bottom: 5px;
    margin-right: 10px;
}

hr{
    margin:0;
}


@media (max-width: 1025px)  {
    .col-6{
        padding:6px;
    }
    #card{
        height: 120px;
    }
    #intro-card-img{
        height: 51px;
      }
    
    #user-img1{
        height: 30px;
        width: 30px;
    }
    #intro-card-title{
        font-size: 0.9rem;
    }
    .gone{
        display: none;
    }
}
/*intro detail 페이지*/
/*웹*/
#carouselExampleControls{
    justify-content:center;
    display:flex;
    height: 500px;
    width: 1000px;
  }
  #small-img{
    height: 100px;
    width: 200px;
  }

#detail-title{
    font-size: 1.8rem;
}
.detail-text{
    font-size: 0.9rem;
    color:#606060;
}
#tag{
    font-size: 1.5rem;
    color: #065FD4;
}
#contain-right{
    float:right;
}

#icon_btn{
    width: 40px;
}
#detail-img{
    height: 500px;
    width: 1000px;
}
#user-img{
    width:5rem;
    height:5rem;
}
#sub_button{
    float: right;
}
  
.content-box{
    margin-top:20;
}

.btn{
    color: white;
    background-color: red;
  }

/*글자색 흰색*/
#white{
    color:white;
}
#my-container{
    background-color: white;
    border-radius: 8px;
  }
@media (min-width: 1025px)  {
#my-container{
    padding:100px;
    margin:4rem;
  }
}
  /*모바일*/
@media (max-width: 1025px)  {
  #my-container{
    padding:30px;
    margin:1rem;
  }
}


/*모바일*/
@media (max-width: 1025px)  {
    /*캐러셀*/
    #carouselExampleControls{
        justify-content:center;
        display:flex;
        height: 134px;
        width: 268px;
      }
      #small-img{
        height: 50px;
        width: 100px;
      }
    #detail-text{
        font-size: 1rem;
    }
    #tag{
        font-size: 1rem;
    }
    #detail-img{
        height: 134px;
        width: 268px;
    }
    #sub_button{
        float : right;
    }
    #other{
        display: none;
    }

    #detail-title{
        font-size: 1.7rem;
    }
    #kakao{
        width: 50px;
    }

}