/*폰트*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon&display=swap');
/*유튜브 폰트*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{box-sizing: border-box;}
html,body{height: 100%;}
a:link,a:visited,a:active{}
/* a:link,a:visited,a:active{color:inherit;}  원래이거였음*/


body{
    font-family:'Roboto', 'Do Hyeon', sans-serif;}

#mainNav{
    background-color: #FFFFFF;
    font-size: 25px;
}

#right{
    float:right;
}

/* base */
.navcontent{
    color: #282828 !important;
}

/* home */
.section{
    background: #dbdbdb;
    margin: 20px;
}
#jb-container {
    width: 1025px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}
#jb-header {
    padding: 20px;
    border: 1px solid #bcbcbc;
}
#jb-content {
    width: 600px;
    float: left;
    border: 1px solid #bcbcbc;
}
#jb-sidebar {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
}
#jb-footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
}
@media ( max-width: 1025px ) {
    #jb-container {
        height: 100%;
        margin-top: 220px;
        width: auto;
    }
    #jb-header{
        height: 20%;
    }
    #jb-content {
      float: none;
      width: auto;
    }
    #jb-sidebar {
        height: 20%;
      float: none;
      width: auto;
    }
    #jb-footer{
        height: 20%;
    }
}


/*제목에 hover들어가는거*/
.sm-link{
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);   
    --uismLinkTextColor: var(--smLinkTextColor);
    --uismLinkTextColorHover: var(--smLinkTextColorHover);  
    
    display: var(--uismLinkDisplay);
    color: var(--uismLinkTextColor);
    position: relative;
    overflow: hidden;
}

a.sm-link{
    text-decoration: none;
}

.sm-link__label{
  display: block;
}

/* sm-link_padding-all */ 

.sm-link_padding-all{
    --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
    --uismLinkLineColor: var(--smLinkLineColor, #000000);
    --uismLinkPadding: var(--smLinkPadding, 5px);
    
    padding: var(--uismLinkPadding);
}

.sm-link_padding-all::before, 
.sm-link_padding-all::after{
  width: 100%;
  height: var(--uismLinkLineWeight);
  left: 0;
}

.sm-link_padding-all::before{
  top: 0;
}

.sm-link_padding-all::after{
  bottom: 0;
}

.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  width: var(--uismLinkLineWeight);
  height: 100%;
  top: 0;
}

.sm-link_padding-all .sm-link__label::before{
  left: 0;
}

.sm-link_padding-all .sm-link__label::after{
  right: 0;
}

.sm-link_padding-all::before,
.sm-link_padding-all::after,
.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  content: "";     
    background-color: var(--uismLinkLineColor);
  position: absolute; 
    opacity: 0;
    
    will-change: transform, opacity;
    transition-property: transform, opacity;
}

.sm-link_padding-all:hover::before,
.sm-link_padding-all:hover::after,
.sm-link_padding-all:hover .sm-link__label::before,
.sm-link_padding-all:hover .sm-link__label::after{
    opacity: 1;
}

/* effect 1 */

.sm-link1::before{
  transform: translate3d(-105%, 0, 0);
}

.sm-link1::after{
  transform: translate3d(105%, 0, 0);
}

.sm-link1 .sm-link__label::before{
  transform: translate3d(0%, -100%, 0);
}

.sm-link1 .sm-link__label::after{
  transform: translate3d(0%, 100%, 0);
}

.sm-link1::before,
.sm-link1::after,
.sm-link1 .sm-link__label::before,
.sm-link1 .sm-link__label::after{
    transition-timing-function: ease-out;
    transition-duration: .2s, .15s;
    transition-delay: 0s, .15s;
}

.sm-link1:hover::before,
.sm-link1:hover::after,
.sm-link1:hover .sm-link__label::before,
.sm-link1:hover .sm-link__label::after{
  transform: translate3d(0, 0, 0);
    opacity: 1;
    
    transition-duration: .25s;
    transition-delay: 0s;
}

/*
SETTINGS
*/

.sm-link{
    --smLinkPadding: 10px 15px;
    --smLinkLineWeight: 5px;
    /*색 변경은 밑에서*/
    --smLinkLineColor: rgb(253, 228, 146);  
    --smLinkTextColor: #243aab;
    --smLinkTextColorHover: #1b255a;
}

.sm-link_bg{
    --smLinkTextColorHover: #ffffff;
}

.container{
  background-color: white;
  border-radius: 8px;
  padding:30px;
  margin-bottom: 100px;
}

/*모바일*/
@media (max-width: 1025px)  {
  .container{
    border-radius: 0;
  }
  #topbutton{
    display:none;
  }
}
