/*폰트*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon&display=swap');
/*유튜브 폰트*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{box-sizing: border-box;}
html,body{height: 100%;}
body{margin:0;
    display:flex;
    flex-direction:column;}
a:link,a:visited,a:active{color:inherit;}

body{
    font-family:'Roboto', 'Do Hyeon', sans-serif;}

#mainNav{
    background-color: #FFFFFF;
    font-size: 25px;
}

#right{
    float:right;
}
/*intro,developer*/
.card{
    width: 120;
    border: 0;
    width: 100%;
}
.intro_content{
    margin:10px;
    text-align: center;
}

#dev-img{
    height: 300;
}

#intro-body{
    height: 83.2;
}
/*카드 바디*/
.h-card-text{
    color: #606060;
    margin:0;
}

/*intro img*/
#intro-card-img{
    height: 117.5;
    /*border-bottom:5px solid red;*/
}

/*intro detail 페이지*/
/*웹*/
@media (min-width: 1025px)  {
#detail-container{
    margin-left:29%;
    margin-right:29%;
    margin-top:12%; 
    margin-bottom: 12%;
    width: 840; 
    }
}
/*모바일*/
@media (max-width: 1025px)  {
#detail-container{
    margin-left:7%;
    margin-right:7%;
    margin-top:30%; 
    margin-bottom: 12%;
    width: 840; 
    }
}

#carouselExampleControls{
    margin-bottom: 15px;
}
#detail-text{
    color:#606060;
}
#tag{
    color: #065FD4;
}
#contain-right{
    float:right;
}

#icon_btn{
    width: 40;
}
#detail-img{
    width: 840; height:480;
}
#user-img{
    width:60;
    height:60;
}
#sub_button{
    color: white;
    background-color: red;
    float: right;
}
/* base */
.navcontent{
    color: #282828 !important;
}

/* home */
.section{
    background: #dbdbdb;
}
#jb-container {
    width: 1025px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}
#jb-header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}
#jb-content {
    width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #bcbcbc;
}
#jb-sidebar {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
}
#jb-footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
}
@media ( max-width: 1025px ) {
    #jb-container {
        height: 100%;
        margin-top: 220px;
        width: auto;
    }
    #jb-header{
        height: 20%;
    }
    #jb-content {
        height: 20%;
      float: none;
      width: auto;
    }
    #jb-sidebar {
        height: 20%;
      float: none;
      width: auto;
    }
    #jb-footer{
        height: 20%;
    }
}

/*board*/
#comment-box{
  font-family: Arial, sans-serif;
  margin-left: 10;
}
#comment-box p{
  margin:0;
}
#context-box{
  margin-left: 10;
  font-size:25px;
}
#context-box p{
  margin:0;
  font-size:20px;
}
#context-box span{
  font-size: 20px;
}
#right-icon{
  float: right;
  width: 38px;
  margin-right: 10px;
}
.btn{
  color: white;
  background-color: red;
}



/*로그인,회원가입*/
/*카드*/
.card-body{
    padding: 60px;
}
#login-box{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
/*폼태그*/
.form-control:focus{
  border-color: #989898;
  color: #000000;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #989898;
}       

/*버튼*/
.btn-primary{
    background-color:#323232;
    border: 1px solid #323232;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary:hover {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
}

/*소셜로그인 container*/
.login-btn-container{
    justify-content:center; display:flex;
}
/*소셜로그인 버튼*/
.login-img{
  width: 69px;
  height: 69px;
}

/*웹*/ 
@media (min-width: 1025px)  {
    .img{
        width: 200px;   
        margin-left:25%;
        margin-right: 25%; 
    }   
    .wrapper{
        margin-top:200px;
        margin-bottom:200px;
        margin-left: 30%;
        margin-right: 30%;
    }
}

/*모바일*/
@media (max-width: 1025px)  {
    .img{
        width: 200px;
        margin-left: 30%;   
        margin-right: 30%;
    }
    .wrapper{
        margin-top:200px;
        margin-left: 5%;
        margin-right: 5%;
        height: 1200px;
    }
}

