<!--게시판입니-->
{% extends 'base.html' %}
{% block content %}
<style>

</style>
<div class="container" style="margin-top: 9%;">
  <br><br>
  <!-- 검색기능 -->
  <form action="#" method="POST" id="right">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          <input type="text">
          <input class="btn" type="submit" value="검색하기">
        </td>
      </tr>
    </table>
  </form>
  <br><br>
  <!--이부분에 추가해주세요-->
  <table class="table">
    <tbody>
      <tr>
        <td>
          <span>제목</span>
        </td>
        <td>
          <span>작성자</span>
        </td>
        <td id="td-center">
          <span>조회수</span>
        </td>
        <td id="td-center">
          <span>좋아요</span>
        </td>
      </tr>
      {% for board in posts %}
      <tr>
        <td>
          <a href="{% url 'board_detail' board.id %}">
            <span>{{board.summary_title}}</span>
            <span>({{ board.comments.count }})</span>
          </a>
          <!--제목-->
          <!--날짜는 제외하는게 깔끔할거같아요-->
          <!--{{ board.pub_date|date:'bj일 f' }}-->
          <!--날짜-->
        </td>
        <td>
          <!--작성자-->
          <span>{{ board.author }}</span>
        </td>
        <td id="td-center">
          <span>{{ board.hits }}</span>
        </td>
        <td id="td-center">
          <span>{{ board.like_users.count }}</span>
        </td>
      </tr>
      {%endfor%}
    </tbody>
    
  </table>

  <!--로그인 구현 후 글쓰기 버튼 if문 처리-->
  {% if user.is_authenticated %}
  <a class="btn" href="{%url 'new'%}" id="right" style="color: white">글쓰기</a>
  {% else %}
  <button id="sub_button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">글쓰기</button>
    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">게시판 이용</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>로그인이 필요합니다</h3>
              </div>
              <div class="modal-footer">
                <a class="btn" href="{%url 'login'%}" id="right" style="color: white">로그인하러가기</a>
                <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div> 
       <!--Modal-->
   {% endif %}
  <br>

  <!--pagenation-->
  <!--
    <nav aria-label="container">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            {%if posts.has_previous%}
            <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              {%endif%}
            </a>
          </li>
          {% for page in page_range %}
          <li {% if page == page_obj.number %}class="active" {% endif %} class="page-item"><a class="page-link" a
              href="?page={{ page }}">{{ page }}</a></li>
          {% endfor %}
          <li class="page-item">
            {%if posts.has_next%}
            <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              {%endif%}
            </a>
          </li>
        </ul>
      </nav>
  -->

  <!--pagenation-->
  <div class="pagination-container">
    {% if board_list.has_other_pages %}

    <ul class="pagination">

      {% if board_list.has_previous %}
      <li><a href="?page={{ board_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}

      {% if board_list.number > 2 %}
      <li><a href="?page={{ 1 }}"> 1 </a></li>
      <li><span>...<span class="sr-only">...</span></span></li>
      {% endif %}

      {% for i in page_range %}
      {% if board_list.number == i %}
      <li class="active"><span style="margin:5px; color:#D0C3B4">{{ i }} <span class="sr-only"
            style="margin:5px;">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{ i }}"> {{ i }}</a></li>
      {% endif %}
      {% endfor %}

      {% if board_list.number < max_index %}
      <li><span>...<span class="sr-only">...</span></span></li>
      <li><a href="?page={{ max_index|add:'2' }}"> {{ max_index|add:"2" }}</a></li>
      {% endif %}

      {% if board_list.has_next %}
      <li><a href="?page={{ board_list.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {%endif %}
    </ul>

    {%endif%}
  </div>



</div>
{% endblock %}