<!--게시판 디테일페이지입니다-->
{% extends 'base.html' %}
{% block content %}
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">

<div class="container" >
  <!--삭제버튼-->
  <div class="row justify-content-end">
    <img class="right-icon float-right" src="{% static 'img/delete_btn.png'%}">
    <!--수정버튼-->
    <img class="right-icon float-right" src="{% static 'img/edit_btn.png'%}">
  </div>
  <hr>

  <div class="row mt-2 justify-content-center">
    <div class="col-lg-10">
      <!--제목-->
      <span class="detail-title">{{details.title}}</span>
      {{details.update_counter_hit}}
    </div>
  </div>
  <div class="row justify-content-center mt-n2">
    <div class="col-lg-10">
        <!--작성자이름-->
      <div class="row">
          <div class="col-lg-8 ml-n3">
            <span class="detail-text mr-2">{{details.author}}</span>
            <span class="detail-text">{{details.pub_date}}</span>
          </div>
          <!--작성시간-->
      </div>
      <div class="row my-4">
        <!--내용-->
        <div class="col-lg-10 ml-2">
          <p>{{details.context|linebreaks}}</p>
        </div>
      </div>
        <!--좋아요-->
        <!--
          <img src="{% static 'img/like_btn.png'%}" style="margin-bottom:6px;">
        -->
        {% if user in details.like_users.all %}
        <a href="{% url 'like' details.id %}">좋아요 취소</a>
        {% else %}
        <a href="{% url 'like' details.id %}">좋아요</a>
        {% endif %}
        <span>{{ details.like_users.count }}</span>

        <!--싫어요-->
        <!--
          <img src="{% static 'img/dislike_btn.png'%}" style="margin-top:2px;">
        -->
        {% if user in details.hate_users.all %}
        <a href="{% url 'hate' details.id %}">싫어요 취소</a>
        {% else %}
        <a href="{% url 'hate' details.id %}">싫어요</a>
        {% endif %}
        <span>{{ details.hate_users.count }}</span>
    </div>
  </div>
  <hr>
  <!--댓글 갯수-->
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <p>댓글 수: {{ details.comments.count }}</p>
    </div>
  </div>

  <div class="row justify-content-center">
      <form action="{% url 'comment_write' details.id%}" method="POST" class="col-lg-10">
        {% csrf_token %}
        <div class="row justify-content-end">
          <div class="col-lg-12">
            <textarea type="text" name="content" class="form-control" placeholder="댓글을 입력해주세요."></textarea>
          </div>
        </div>
        <div class="row justify-content-end mt-2">
          <div class="col-lg-2"><input class="btn btn-light" id="right" type="submit" value="댓글"></div>
        </div>
      </form>
  </div>
  <hr>

  <div class="row justify-content-center">
    <div class="col-lg-10">
      {% for comment in details.comments.all %}
        <!--작성자-->
      <div class="row">
        <div class="col-lg-4">
          <strong>{{ comment.author }}</strong>
          <!--댓글작성시간-->
          <span class="detail-text">{{ comment.comment_date }}</span>
        </div>

      </div>
      <div class="row mt-2">
        <div class="col-lg-10 ml-2">
          <p class="font-weight-light">{{ comment.comment_body }}</p>
        </div>
      </div>
        <!--내용-->

        <!--좋아요-->
        <!--
          <img src="{% static 'img/like_btn.png'%}" style="margin-top:2px;">
        -->
      <div class="row">
        <div class="col-lg-12">
          {% if user in comment.comment_like_users.all %}
          <a href="{% url 'comment_like' comment.id %}">좋아요 취소</a>
          {% else %}
          <a href="{% url 'comment_like' comment.id %}">좋아요</a>
          {% endif %}
          <span>{{ comment.comment_like_users.count }}</span>

          <!--싫어요-->
          <!--
            <img src="{% static 'img/dislike_btn.png'%}" style="margin-top:2px;">
          -->
          {% if user in comment.comment_hate_users.all %}
          <a href="{% url 'comment_hate' comment.id %}">싫어요 취소</a>
          {% else %}
          <a href="{% url 'comment_hate' comment.id %}">싫어요</a>
          {% endif %}
          <span>{{ comment.comment_hate_users.count }}</span>

          <!--댓글 삭제-->
          {% if user == comment.author %}
          <a href="{% url 'comment_delete' comment.id %}"> 삭제 </a>
          {% endif %}
          <hr>
        </div>
      </div>



        {% empty %}
          <p>댓글이 없습니다.</p>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}