<!--게시판입니-->
{% extends 'base.html' %}
{% block content %}
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">

<div class="container">
  <div class="row mt-4">
    <!--이부분에 추가해주세요-->
      {% for missing in missings %}
      <div class="col-lg-3 col-6 mt-2 p-2">
        <div class="shadow_card">
          <a href="{% url 'missing_detail' missing.id%}">
              <img src="{{ missing.image.url }}" alt="he" class="card-img-top missing_card_img">
            <div class="mx-2 missing_textarea">
              <p class="card_title text-black my-2 mb-n2 border-bottom">{{missing.summary}}</p>
              <div class="missing_center my-3">
                <p class="card_author">{{missing.author}}</p>
                
                <p class="card_author mt-n3">조회수 {{missing.hits}}회 ㆍ {{missing.pub_date|timesince}}전</p>
              </div>
              <!--시간 전 이라고 한 부분은 db에서 보내줄때 맞춰서 보내줬으면 함-->
            </div>
          </a>
        </div>
      </div>

      {% endfor %}
  </div>
  <div class="row mt-4 mx-1 justify-content-between">
    <!--로그인 구현 후 글쓰기 버튼 if문 처리-->
    {% if user.is_authenticated %}
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
      <a class="btn" href="{%url 'missing_new'%}" id="right" style="color: white">글쓰기</a>
    </div>
    {% else %}
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
        <button id="sub_button" class="btn float-right" data-toggle="modal" data-target="#exampleModal">글쓰기</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그인이 필요합니다</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <a href="{%url 'login'%}"><button type="button" class="btn btn-light">로그인하기</button></a>
                <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endif %}
  </div>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">게시판 이용</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>로그인이 필요합니다</h3>
        </div>
        <div class="modal-footer">
          <a class="btn" href="{%url 'login'%}" id="right" style="color: white">로그인하러가기</a>
          <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal-->
</div>
</div>
{% endblock %}