<!--게시판 디테일페이지입니다-->
{% extends 'base.html' %}
{% block content %}
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">

<div class="container" >
  <!--삭제버튼-->
  <img id="right-icon" src="{% static 'img/delete_btn.png'%}">
  <!--수정버튼-->
  <img id="right-icon" src="{% static 'img/edit_btn.png'%}">
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-9">
      <!--작성자-->
      <h3>{{missing_details.author}}</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-1">
      <!--작성자 아이콘-->
      <img id="user-img" src="{% static 'img/icon.png'%}">
    </div>
    <div class="col-9">
      <div id="context-box">
        {{missing_details.update_counter_hit}}

        <!--작성시간-->
        <span id="detail-text">{{missing_details.pub_date}}</span>

        <!-- 사진 -->
        <p><img src="{{ missing_details.image.url }}" style="width: 55%;"></p>

        <!--내용-->
        <p>{{missing_details.context|linebreaks}}</p>

      </div>
    </div>
  </div>
  <br>
  <hr>

    </div>
  </div>
</div>
{% endblock %}