{% extends 'base.html' %}
{% block content %}
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">

<div class="container">

  {% if user == missing_details.author or user.is_superuser%}
  <div class="row justify-content-end">
    <a href="{% url 'missing_delete' missing_details.id %}">
      <img class="right-icon float-right" src="{% static 'img/delete_btn.png'%}">
    </a>
    <a href="{% url 'missing_update' missing_details.id %}">
      <img class="right-icon float-right" src="{% static 'img/edit_btn.png'%}">
    </a>

  </div>
  {% endif %}
  <hr>
  <div class="row mt-2 justify-content-center">
    <div class="col-lg-10">
      {% if missing_details.author.is_superuser %}
      <span class="detail-title">관리자</span><br>
      {% else %}
      <span class="detail-title">{{missing_details.author}}</span><br>
      {% endif %}

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10 text-center">
      {{missing_details.update_counter_hit}}
      <p class="my-4"><img src="{{ missing_details.image.url }}" alt=" " style="width: 55%;"></p>
      <p class="ml-4 text-left">{{missing_details.context|linebreaks}}</p>
    </div>
  </div>
  <br>
  <hr>

</div>
{% endblock %}