
/* 모바일에서 보여지는 부분입니당 */
@media(max-width: 800px)
{
    #pagepiling
    {
        display:none !important;
    }
    .festival
    {
        display:none !important;
    }
    .section
    {
        display:none !important;
    }
    #section
    {
        display:none !important;
    }
    #section2
    {
        display:none !important;
    }
    #section3
    {
        display:none !important;
    }
    #section4
    {
        display:none !important;
    }
    

}

/* pc에서 보여지는 부분입니당 */
@media(min-width: 800px)
{
    #section_mobile
    {
        display:none !important;
    }

}