/*폰트*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon&display=swap');

*{box-sizing: border-box;}
html,body{height: 100%;}
body{margin:0;
    display:flex;
    flex-direction:column;}
a:link,a:visited,a:active{color:inherit;}

body{
    font-family: 'Do Hyeon', sans-serif;}

#mainNav{
    background-color: rgba( 0, 0,0, 0.6 );
    font-size: 25px;
}
 
/*로그인,회원가입*/
/*카드*/
.card-body{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 60px;
}
/*폼태그*/
.form-control:focus{
  border-color: #989898;
  color: #000000;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #989898;
}       

/*버튼*/
.btn-primary{
    background-color:#323232;
    border: 1px solid #323232;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary:hover {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
}
/*소셜로그인 버튼*/
.login-img{
    width: 69px;
  }
  

/*웹*/ 
@media (min-width: 1025px)  {
    .img{
        width: 200px;   
        margin-left:25%;
        margin-right: 25%; 
    }   
    .wrapper{
        margin-top:200px;
        margin-bottom:200px;
        margin-left: 30%;
        margin-right: 30%;
    }
}

/*모바일*/
@media (max-width: 1025px)  {
    .img{
        width: 200px;
        margin-left: 30%;   
        margin-right: 30%;
    }
    .wrapper{
        margin-top:200px;
        margin-left: 5%;
        margin-right: 5%;
        height: 1200px;
    }
    .card-body{
    height: 1200px;
    }
}