
/* 모바일에서 보여지는 부분입니당 */
@media(max-width: 800px)
{
    #pagepiling
    {
        display:none;
    }
    .festival
    {
        display:none;
    }
    .section
    {
        display:none;
    }
    #section
    {
        display:none;
    }
    #section2
    {
        display:none;
    }
    #section3
    {
        display:none;
    }
    #section4
    {
        display:none;
    }
    #section_mobile
    {
        margin-top: 0px;
        padding: 0px;
    }
    #main_img
    {
        width:70%;
        margin: 0px;
    }
    #mobi_container
    {
        margin-top:10px;
    }
    #icon
    {
        width:10rem;
    }
    .line-up
    {
        background-image: url( '/static/img/Line-up.png' );
        background-size: 100%;
    }
    .main_info
    {
        background-image: url( '/static/img/main_info.png' );
        background-size: 100% 200px;
    }
    .line-up3
    {
        background-image: url( '/static/img/da-du.png' );
        background-size: 100%;
    }
    .line-up4
    {
        background-image: url( '/static/img/mamamoo.png' );
        background-size: 100%;
    }
    .line-up5
    {
        background-image: url( '/static/img/jannavi.png' );
        background-size: 100%;
    }
    body,html
    {
        overflow: auto !important;
    }

    #jb-content {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #bcbcbc;
    }
    .picture_size
    {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }
}

/* pc에서 보여지는 부분입니당 */
@media(min-width: 800px)
{
    #section_mobile
    {
        display:none;
    }
    #icon
    {
        width:300px;
    }

}