     
.label__on-off{
  margin-right:10px;
}      
      .overlay {
        height:200%;
        width: 0;
        position: ABSOLUTE;
        z-index: 101;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.87);
        overflow-x: hidden;
        transition: 0.5s;
      }

      .overlay-content {
        width: 100%;
        text-align: center;
        margin-top: 120px;
      }

      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 42px;
        color: #686767;
        display: block;
        transition: 0.3s;
      }

      .overlay a:hover,
      .overlay a:focus {
        color: #f1f1f1;
        text-shadow: 0 0 3vw rgb(244, 209, 10);
      }

      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }

      @media screen and (max-height: 450px) {
        .overlay a {
          font-size: 20px
        }

        .overlay .closebtn {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      }
      .navbar-toggler-icon{
          color: white;
      }

      .left{
        padding-top:1.6rem;
      }

      .center {
        justify-content: center;
        display: flex;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
      }

      .right{
        float:right;
        margin-top: 1rem;
        padding-left:9rem;
        padding-top:3rem;
      }
      #logo-icon {
        width: 25rem;
      }
      .menu-container{
        float: left;
      }
      #menu{
          width: 6rem;
      }
      .navbar-toggler{
        background-color:rgb(255,255,255)
      }


.board a:last-child{display: none}
.board:hover a:first-child{display:inline-block}
.board:hover a:last-child{display:inline-block}

@media (min-width: 1025px)  {
  .menu-container{
    margin-left: 0.8rem;
    margin-top: 0.2rem;
  }
  #icon-container{
    margin-top: 1rem;
    margin-right: 7rem;
  }

}

@media (max-width: 1025px)  {
  .overlay a {
    font-size: 28px;
  }

  .menu-container{
    margin-left: 0.6rem;
    margin-top: 0.1rem;
  }
  #menu{
    width: 4rem;
  }
  #logo-icon{
    width: 10rem;
  }
  #icon-container{
    margin-right: 80px;
  }

  .left{
    padding-top:0.8rem;
  }

  .center {
    justify-content: center;
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .right{
    float:right;
    padding-left:0.5rem;
    padding-top:0.4rem;
  }
  .board a:first-child{display: inline-block}
  .board a:last-child{display: inline-block}
  .board:hover a:first-child{display:inline-block}
  .board:hover a:last-child{display:inline-block}
}