/*폰트*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon&display=swap');

*{box-sizing: border-box;}
html,body{height: 100%;}
body{margin:0;
    display:flex;
    flex-direction:column;}
a:link,a:visited,a:active{color:inherit;}

body{
    font-family: 'Do Hyeon', sans-serif;}
#footer{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #323232;
    color: #ffffff;
    text-align: left;
    padding: 1.5em;
    margin: 0;
}
#mainNav{
    background-color: rgba( 0, 0,0, 0.6 );
    font-size: 25px;
}
 
/*웹*/
@media (min-width: 1025px)  {
div#footer{
    position: relative;
    background-color: #323232;
    color: #ffffff;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 20%;
    width: 100%;
    bottom:0;
    left:0;        
}
    /*구조*/
    #footer>.row{   margin: 1em; position: relative; }
    .side{ padding: 0;}
    div.row{ margin: 0em;}
    .box{ padding: 1%;}
    .box.row{ padding-bottom: 0;}
    #rightside{vertical-align: center;}
    /*글자*/
    h3.title_m{  font-weight: 700; font-size: 1.2em; margin-right: 1.5em; text-align: left;}
    h4.title_s{  font-weight: 400; font-size: 1.0em;  margin: 0.5em; margin-left:0;}
    h5.content{  font-weight: 100; font-size: 0.8em; margin-top: auto; margin-bottom: auto;}
    .logo{     font-weight: 900;  }
    /*로고*/
    .logo{ height: 1.5em; font-size: 2em;}
    H1.logo{ font-size: 0.7em; margin: 0;}
    #logo>h5.content{ font-size: 0.8em;}
    .box#logo{ padding: 0;vertical-align: middle;}
    .row#logo{ padding:0; align-items: center; width: 30em;}
    #small{font-size: 0.8em; margin-bottom: 1em; }

}
/*모바일*/
@media (max-width: 1025px)  {
    /*구조*/
    #footer>.row{   margin: 1em;  }
    .side{ padding: 0;}
    div.row{ margin: 0em;}
    .box{ padding: 1em;}
    .box.row{padding-left: 1em; padding-top: 1em; }
    #rightside{vertical-align: center;}
    /*글자*/
    h3.title_m{  font-weight: 700; font-size: 2.0em; margin-right: 1.5em; text-align: left;}
    h4.title_s{  font-weight: 400; font-size: 1.5em; margin-right: 0.5em;}
    h5.content{  font-weight: 100; font-size: 1em; margin-top: auto; margin-bottom: auto;}
    .logo{     font-weight: 900;  }
    /*로고*/
    .logo{ height: 1.2em; font-size: 3em;}
    H1.logo{ font-size: 2.5em; margin: 0;height: 1em;}
    #logo_{padding: 0}
    #logo>h5.content{ font-size: 1em;}
    .box#logo{ padding: 0;vertical-align: middle;}
    .row#logo{ padding:0; align-items: center; width: 30em;}
    #small{font-size: 1em; margin-bottom: 1em;}
}

/*로그인,회원가입*/
/*카드*/
.card-body{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 60px;
}
/*폼태그*/
.form-control:focus{
  border-color: #989898;
  color: #000000;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #989898;
}       

/*버튼*/
.btn-primary{
    background-color:#323232;
    border: 1px solid #323232;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary:hover {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
}

/*소셜로그인 container*/
.login-btn-container{
    justify-content:center; display:flex;
}
/*소셜로그인 버튼*/
.login-img{
  width: 69px;
  height: 69px;
}

/*웹*/ 
@media (min-width: 1025px)  {
    .img{
        width: 200px;   
        margin-left:25%;
        margin-right: 25%; 
    }   
    .wrapper{
        margin-top:200px;
        margin-bottom:200px;
        margin-left: 30%;
        margin-right: 30%;
    }
}

/*모바일*/
@media (max-width: 1025px)  {
    .img{
        width: 200px;
        margin-left: 30%;   
        margin-right: 30%;
    }
    .wrapper{
        margin-top:200px;
        margin-left: 5%;
        margin-right: 5%;
        height: 1200px;
    }
    .card-body{
    height: 1200px;
    }
}